# Node.js dependencies
node_modules/
npm-debug.log
help.txt
# Postman exports (опционально, если не хотите хранить)
# *.postman_collection.json
# *.postman_environment.json

# Reports
reports/
*.html

# OS files
.DS_Store
Thumbs.db